.customers{
  @media screen and (min-width: 768px) {
    .customers {
      width: calc((100% - 4 * 15px) / 3);
      margin: 15px;
    }
  }
  
  @media screen and (min-width: 1199px) {
    .customers {
      width: calc((100% - 12 * 15px) / 6);
      margin: 15px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .customers:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.customers {
  cursor: pointer;
  margin-right: 30px;
}
.customers:last-child {
  margin-right: 0;
}
.customers-item-link:focus,
.customers-item-link:hover {
  border-color: var(--social-icon-hover);
  color: var(--social-icon-hover);
}
.customers-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    .customers-list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  @media screen and (min-width: 1199px) {
    .customers-list {
      margin: -15px;
    }
  }
}
.customers-item-link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-icon);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  color: var(--social-icon);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}

