h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
