:root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --text-color: #757575;
    --hero-color: #ffffff;
    --teem-set-gap: 30px;
    --social-icon: #afb1b8;
    --social-icon-hover: #2196f3;
    --social: #ffffff;
    --btn-color: #f5f4fa;
    --footer-color-form: #2f303a;
}