.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}
.menu-container {
  display: block;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  padding: 32px;
  text-align: center;
  font-size: 40px;

  &.is-open {
    display: block;
  }
}
.menu-mobils .mobils {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: left;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-mobils .menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 32px;

  &:hover{
    color: var(--social-icon-hover);
  }
}
.menu-mobils-link .mobils{
  text-align: left;
  justify-content: center;

}
   
.link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;

  &:hover{
    color: var(--social-icon-hover);
}
}
.link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  
  &:hover{
    color: var(--social-icon-hover);
}
}
.menu-mobils {
  margin-bottom: 302px;
}
.menu-mobils-link {
  margin-top: 64px;
}
.mobils-social {
  display: flex;
}
